{{extend 'layout.html'}}

<div id="target"></div>



<script id="template" type="text/ractive">
<div>
    {{if auth.user_id is None:}}
    <div id="main_login">
    {{=A('Sign Up', _class='btn btn-primary btn-lg', _href=URL('default', 'user', args=['register']))}}
    {{=A('Sign In', _class='btn btn-primary btn-lg', _href=URL('default', 'user', args=['login']))}}
    </div>
    {{else:}}
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
     <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Create a Group
    </button>
    {{pass}}
    {% #if loading %}
    <div id="load_spinner">
    <i class="fa fa-spinner fa-pulse fa-2x"></i>
    </div>
    {% /if %}
</div>
<br><br>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create your group</h4>
      </div>
      <div class="modal-body">
        <input type="text" id="inputName" class="form-control" placeholder="Group Name">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" on-click="createGroup">Create</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="board_list">
        {% #groupList:id %}
        <a class="link" href="{{=URL('default', 'groupOrders')}}/{% groupId %}">
        <div on-click="startedit" data-id="{% groupId %}" class="message col-md-3 board title"><p id="paragraph{% groupId %}">{% groupName %}</p>
        </div>
        </a>
        {% /groupList %}
    </div>
  </div>
</div>




</script>





<script>
$(function() {
    var ractive = new Ractive({
        el: '#target',
        template: '#template',
        delimiters: ['{%', '%}'],
        tripleDelimiters: ['{%%', '%%}'],
        data: {
            board_list: {},
            loading: true,
            editing: false,

            groupList: {},
            groupCreator: "{{=auth.user_id}}",
        }
    });



    $.ajax("{{=URL('default', 'loadGroup', user_signature=True)}}",
        {
            method: 'POST',
            success: function (data) {
              ractive.set('groupList', data['groupList']);
              ractive.set('loading', false);
            }
        }
    );





    ractive.on("createGroup", function() {
        var groupName = $("#inputName").val();
        $("#inputName").val('');
        if (groupName != '') {
//            alert(groupName)
            $('#myModal').modal('hide')
            $.ajax("{{=URL('default', 'createGroup', user_signature=True)}}",
            {
              data: {
                groupName: groupName,
                groupCreator: ractive.get('groupCreator'),
              },
              method: 'POST',
              success: function(data) {
                  ractive.set('groupList', data['groupList']);
                  ractive.set('loading', false);
              },
              error: function() {}
            });
        }
    });

});
</script>


