{{extend 'layout.html'}}
{{block header}}
<header class="container-fluid myheader">
  <div class="jumbotron ">
 <!-- <img src="{{=URL('static','images/IMG_2821.JPG')}}" class="coverImage" /> -->
    <h2 class="headerTitle">Welcome to GroupOrder</h2>
    <p class="headerSubTitle">GroupOrder makes your order organized and easy to place. </p><br><br>
    <div class="buttonWrapper">
    {{if auth.user_id is None:}}
    <div id="main_login">
    {{=A('Sign Up', _class='btn btn-primary btn-lg my-btn', _href=URL('default', 'user', args=['register']))}}
    {{=A('Sign In', _class='btn btn-primary btn-lg my-btn', _href=URL('default', 'user', args=['login']))}}
    </div>
    {{else:}}
    <button type="button" class="btn btn-primary btn-lg my-btn buttonFont" data-toggle="modal" data-target="#myModal">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Create a Group
    </button>
    {{pass}}
    </div>
  </div>
</header>
{{end}}


<div class="container-fluid">
<div id="target" class="bodyStyle"></div>
</div>
<script id="template" type="text/ractive">


<div>

    {% #if loading %}
    <div id="load_spinner">
    <i class="fa fa-spinner fa-pulse fa-2x"></i>
    </div>
    {% /if %}
</div>
<br><br>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create your group</h4>
      </div>
      <div class="modal-body">
        <input type="text" id="inputName" class="form-control" placeholder="Group Name">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" on-click="createGroup">Create</button>
      </div>
    </div>
  </div>
</div>


<!-- request to join a group -->
<div class="container">
  <div class="row">

    <div class="col-lg-2">Send request to group:</div>
    <div class="col-lg-4">
     <select class="form-control" id="group_select">
      {% #groupList:id %}
      <option value="{% id %}">{% groupName %}</option>
      {% /groupList %}
    </select>
   </div>
   <button type="button" class="btn btn-primary my-btnNormal" on-click="sendJoinRequest">Send</button>

   <a class="link" href="{{=URL('default', 'manage')}}">
     <button type="button" class="btn btn-default" aria-label="Left Align">
       <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
     </button>
   </a>

  </div>
</div>
<br><br>

<!-- display group boards -->
<div class="container">
  <div class="row">
    <div class="board_list">
        {% #groupList:id %}
        <a class="link" href="{{=URL('default', 'groupOrders')}}/{% groupId %}">
        <div on-click="startedit" data-id="{% groupId %}" class="message col-md-3 board font"><p id="paragraph{% groupId %}">{% groupName %}</p>
        </div>
        </a>
        {% /groupList %}
    </div>
  </div>
</div>




</script>





<script>
$(function() {
    var ractive = new Ractive({
        el: '#target',
        template: '#template',
        delimiters: ['{%', '%}'],
        tripleDelimiters: ['{%%', '%%}'],
        data: {
            loading: true,

            groupList: {},
            groupCreator: "{{=auth.user_id}}",
        }
    });



    $.ajax("{{=URL('default', 'loadGroup', user_signature=True)}}",
        {
            method: 'POST',
            success: function (data) {
              ractive.set('groupList', data['groupList']);
              ractive.set('loading', false);
            }
        }
    );





    ractive.on("createGroup", function() {
        var groupName = $("#inputName").val();
        $("#inputName").val('');
        if (groupName != '') {
//            alert(groupName)
            $('#myModal').modal('hide')
            $.ajax("{{=URL('default', 'createGroup', user_signature=True)}}",
            {
              data: {
                groupName: groupName,
                groupCreator: ractive.get('groupCreator'),
              },
              method: 'POST',
              success: function(data) {
                  ractive.set('groupList', data['groupList']);
                  ractive.set('loading', false);
              },
              error: function() {}
            });
        }
    });

    ractive.on("sendJoinRequest", function() {
        var groupId = $('#group_select option:selected').val();
        $.ajax("{{=URL('default', 'sendRequest', user_signature=True)}}",
                {
                    data: {
                        groupId: groupId
                    },
                    method: 'POST',
                    success: function(data) {
                        if (data['insert']) {
                            alert("Request successfully sent!");
                        }
                        else {
                            alert("Request already exists or not necessary!")
                        }
                    },
                    error: function() {}
                }

        );
    });

});
</script>


