{{extend 'layout.html'}}


<div id="target"></div>


<script id="template" type="text/ractive">
<div class="boardname"><h1>Board:  {{=boardid.Board_Title}}</h1></div><br><br>
    <div>
        <div><a class="btn btn-warning" href="{{=URL('default', 'index')}}">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home Page</a>
    </div><br>
    {{if auth.user_id is None:}}
    <div id="main_login">
    {{=A('Sign Up', _class='btn btn-primary btn-lg', _href=URL('default', 'user', args=['register']))}}
    {{=A('Sign In', _class='btn btn-primary btn-lg', _href=URL('default', 'user', args=['login']))}}
    </div>
    {{else:}}
    <div><a class="btn btn-success"  id="btn_add" on-click="createPost">
    <span class="glyphicon glyphicon-plus"  aria-hidden="true"></span>
    Create Post</a>
    </div>
    {{pass}}
    {% #if loading %}
    <div id="load_spinner">
        <i class="fa fa-spinner fa-pulse fa-3x"></i>
    </div>
    {% /if %}
    </div>
    <br><br>
    <div class="container">
        <div class="row">
            {% #post_list:id %}
            <div class="board col-md-3 title ">
                {% #if (current_user_id == author) %}
                <div class="icon"><a class="btn btn-info glyphicon glyphicon-trash"  id="btn_add" data-id="{% Post_id %}" on-click="deletePost"></a></div>
                {% /if %}
                {% #if editing && (current_user_id == author) %}
                <textarea on-blur="editdone" id="myText{% Post_id %}" data-id="{% Post_id %}" class="titlearea" value= "{% Post_Title %}">
                </textarea><hr>
                {% else %}
                <div on-click="startedit" data-id="{% Post_id %}" class="titlearea"><p id="paragraph{% Post_id %}">{% Post_Title %}</p>
                </div><hr>
                {% /if %}
                {% #if editing2 && (current_user_id == author) %}
                <textarea on-blur="editdone2" id="myText2{% Post_id %}" data-id="{% Post_id %}" class="contentarea" value= "{% Post_Description %}">
                </textarea>
                {% else %}
                <div on-click="startedit2" data-id="{% Post_id %}" class="contentearea"><p id="paragraph2{% Post_id %}">{% Post_Description %}</p>
                </div>
                {% /if %}
            </div>
            {% /post_list %}
        </div>
    </div>
</script>






<script>
$(function() {
    var ractive = new Ractive({
        el: '#target',
        template: '#template',
        delimiters: ['{%', '%}'],
        tripleDelimiters: ['{%%', '%%}'],
        data: {
            post_list: {},
            loading: true,
            editing: false,
            editing2: false,
            boardid: "{{=usefulid}}",
            current_user_id: "{{=auth.user_id}}",
        }
    });
      // Loads the initial list of messages.
    $.ajax("{{=URL('default', 'load_posts', user_signature=True)}}",
          {
            data: {
                boardid: ractive.get('boardid'), // request.vars.bordid
            },
            method: 'POST',
            success: function (data) {
              ractive.set('post_list', data['post_list']);
              ractive.set('loading', false);
            }
          }
    );

    ractive.on("startedit", function(e) {
        ractive.set("editing", true);
        var id = $(e.node).data("id");
        $("#myText"+id).focus();
    });

    ractive.on("editdone", function (e){
       ractive.set("editing", false);
        var id = $(e.node).data("id");
        var title = $("#paragraph"+id).text();
        var description = $("#paragraph2"+id).text();
        if (title === "") {
            title = "Please give the post a title";
        }
        save_post(title, description, id);
    });

    ractive.on("startedit2", function(e) {
        ractive.set("editing2", true);
        var id = $(e.node).data("id");
        $("#myText2"+id).focus();
    });

    ractive.on("editdone2", function (e){
       ractive.set("editing2", false);
        var id = $(e.node).data("id");
        var title = $("#paragraph"+id).text();
        var description = $("#paragraph2"+id).text();
        if (description === "") {
            description = "Please give the post some content";
        }
        save_post(title, description, id);
    });

    ractive.on("createPost", function (e) {
        var title = "write a title";
        var description = "write some content";
        var author = ractive.get('current_user_id');
        var category = ractive.get('boardid');
        send_title(title, description, author, category);
    });

    ractive.on("deletePost", function (e) {
        var id = $(e.node).data("id");
        delete_post(id);
    });

    function delete_post(Post_id) {
        $.ajax("{{=URL('default', 'delete_post', user_signature=True)}}",
        {
          data: {
              Post_id: Post_id,
          },
          method: 'POST',
          success: function() {
              var oldpost_list = ractive.get('post_list');
              delete oldpost_list[Post_id];
              ractive.set('post_list', oldpost_list);
          },
          error: function() {}
        });
    }

    function send_title(Post_Title, Post_Description, author, Category) {
        $.ajax("{{=URL('default', 'new_post', user_signature=True)}}",
        {
          data: {
            Post_Title: Post_Title, // request.vars.msg
              Post_Description: Post_Description,
              author: author,
              Category: Category
            },
          method: 'POST',
          success: function(data) {
              ractive.set('post_list', data['post_list']);
              ractive.set('loading', false);
          },
          error: function() {}
        });
    }

    function save_post(Post_Title, Post_Description, Post_id) {
        $.ajax("{{=URL('default', 'save_post', user_signature=True)}}",
        {
          data: {
              Post_Title: Post_Title,
              Post_id: Post_id,
              Post_Description: Post_Description,
          },
          method: 'POST',
          success: function() {
            var post_list = ractive.get('post_list');
            if ( Post_id in post_list) {
                post_list[Post_id]['Post_Title'] = Post_Title;
                post_list[Post_id]['Post_Description'] = Post_Description;
            } else {
                board_list[board_list] = {
                Post_Title: Post_Title,
                Post_id: Post_id,
                Post_Description: Post_Description,}
            }
            ractive.set('post_list', post_list);
          },
          error: function() {}
        });
    }
});
</script>















