{{extend 'layout.html'}}

<div id="target"></div>


<script id="template" type="text/ractive">

<div>
    {{if auth.user_id is None:}}
    <div id="main_login">
    {{=A('Sign Up', _class='btn btn-primary btn-lg', _href=URL('default', 'user', args=['register']))}}
    {{=A('Sign In', _class='btn btn-primary btn-lg', _href=URL('default', 'user', args=['login']))}}
    </div>
    {{pass}}
    {% #if loading %}
    <div id="load_spinner">
    <i class="fa fa-spinner fa-pulse fa-2x"></i>
    </div>
    {% /if %}
</div>
<br><br>

<div class="container-fluid">
  <div class="row">

  {% #if Date.now() < Date.parse(deadline) %}
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Member</th>
        <th>item Name</th>
        <th>item Price</th>
        <th>Quantity</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% #displayOrderDetail:id %}
      <tr>
        <td>{% creatorFirstName %}</td>
        <td>{% itemName %}</td>
        <td>{% itemPrice %}</td>
        <td>{% itemQuantity %}</td>
        <td>
            {% #if creatorId ==  singleOrderCreator%}
            <button type="button" class="btn btn-default" value={%id%} on-click="deleteSingleOrder">Delete</button>
            {% else %}
            <button type="button" class="btn btn-default" value={%id%} disabled="disabled">Delete</button>
            {% /if %}
        </td>
      </tr>
    {% /displayOrderDetail %}
    </tbody>
  </table>

  {% else %}
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Member</th>
        <th>item Name</th>
        <th>item Price</th>
        <th>Quantity</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    {% #displayOrderDetail:id %}
      <tr>
        <td>{% creatorFirstName %}</td>
        <td>{% itemName %}</td>
        <td>{% itemPrice %}</td>
        <td>{% itemQuantity %}</td>
        <td>{% status %}</td>
        <td>
            {% #if status == 'pending' && singleOrderCreator == groupOrderCreator %}
            <button type="button" class="btn btn-success" value={%id%} on-click="confirmSingleOrder">Confirm</button>
            <button type="button" class="btn btn-danger" value={%id%} on-click="cancelSingleOrder">Cancel</button>
            {% else %}
            <button type="button" class="btn btn-success" value={%id%} disabled="disabled">Confirm</button>
            <button type="button" class="btn btn-danger" value={%id%} disabled="disabled">Cancel</button>
            {% /if %}
        </td>
      </tr>
    {% /displayOrderDetail %}
    </tbody>
  </table>


  {% /if %}



  <!--
  <div>
        {% #displayOrderDetail:id %}
        <li>{% itemName %}</li>
        <li>{% itemPrice %}</li>
        <li>{% itemQuantity %}</li>
        <li>{% creatorFirstName %}
        {% /displayOrderDetail %}
  </div>
  -->

<br><hr><br>
    {% #if Date.now() < Date.parse(deadline) %}
    <table class="table table-bordered" id="myTable">
      <thead>
          <tr>
            <th class="col-md-1">#</th>
            <th class="col-md-9">Item</th>
            <th class="col-md-1">Price</th>
            <th class="col-md-1">Quantity</th>
          </tr>
      </thead>
      <tbody>
          {% #displayMenuDetail:id %}
          <tr>
            <td class="itemIdData">{% itemId %}</td>
            <td class="itemNameData">{% itemName %}</td>
            <td class="itemPriceData">{% itemPrice %}</td>
            <td><div class="input-group">
                <input type="number" class="form-control" id="itemQuantityData" placeholder="0"></div>
            </td>
          </tr>
          {% /displayMenuDetail %}
      <tbody>
    </table>
    <div>Total:&nbsp;$&nbsp;</div>

    <button type="button" class="btn btn-primary btn-lg" on-click="submitOrder">Submit</button>

    {% /if %}


  </div>
</div>


</script>


<script>

$(document).ready(function () {

    var ractive = new Ractive({
        el: '#target',
        template: '#template',
        delimiters: ['{%', '%}'],
        tripleDelimiters: ['{%%', '%%}'],
        data: {
            loading: true,
            menuId: "{{=menuId}}",
            displayMenuDetail: {},
            singleOrderCreator: "{{=auth.user_id}}",
            groupOrderId: "{{=groupOrderId}}",
            displayOrderDetail: {},
            deadline: "{{=deadline}}",
            groupOrderCreator: "{{=groupOrderCreator}}"
        }
    });



    $.ajax("{{=URL('default', 'getMenuDetail', user_signature=True)}}",
        {
            data: {
                menuId: ractive.get('menuId'),
            },
            method: 'POST',
            success: function (data) {
                ractive.set('displayMenuDetail', data['displayMenuDetail']);
                ractive.set('loading', false);

            }
        }
    );


    $.ajax("{{=URL('default', 'getOrderDetail', user_signature=True)}}",
    {
        data: {
            groupOrderId: ractive.get('groupOrderId'),
        },
        method: 'POST',
        success: function (data) {
            ractive.set('displayOrderDetail', data['displayOrderDetail']);
            ractive.set('loading', false);
        }
    }
    );




    ractive.on("submitOrder", function() {
        var nameArray = [];
        var priceArray = [];
        var inputArray = [];

        $("input").each(function() {
            inputArray.push($(this).val());
        });

        $(".itemNameData").each(function() {
            nameArray.push($(this).html());
        });

        $(".itemPriceData").each(function() {
            priceArray.push($(this).html());
        });

        for (var i = 0; i < inputArray.length; i++) {
            if (inputArray[i] == 0) {
                delete inputArray[i];
                delete nameArray[i];
                delete priceArray[i];
            }
        }

        inputArray = inputArray.filter(function(n){ return n != undefined });
        nameArray = nameArray.filter(function(n){ return n != undefined });
        priceArray = priceArray.filter(function(n){ return n != undefined });

        $.ajax("{{=URL('default', 'addSingleOrders', user_signature=True)}}",
        {
            data: {
                itemName: nameArray.join(';'),
                itemQuantity: inputArray.join(';'),
                itemPrice: priceArray.join(';'),
                singleOrderCreator: ractive.get('singleOrderCreator'),
                status: "pending",
                groupOrderId: ractive.get('groupOrderId'),

            },
            method: 'POST',
            success: function (data) {
                ractive.set('displayOrderDetail', data['displayOrderDetail']);
                ractive.set('loading', false);
                $('.input-group input').val("");
            },
            error: function () {
            }
        });

    });


    ractive.on("deleteSingleOrder", function (e) {
        singleOrderId = $(e.node).val();
        $.ajax("{{=URL('default', 'deleteSingleOrder', user_signature=True)}}",
                {
                    data: {
                        singleOrderId: singleOrderId,
                        groupOrderId: ractive.get('groupOrderId')
                    },
                    method: 'POST',
                    success: function (data) {
                        ractive.set('displayOrderDetail', data['displayOrderDetail']);
                    },
                    error: function() {
                    }
                }

        );
    });


    ractive.on("confirmSingleOrder", function (e) {
        singleOrderId = $(e.node).val();
        alert(singleOrderId);
        $.ajax("{{=URL('default', 'confirmSingleOrder', user_signature=True)}}",
                {
                    data: {
                        singleOrderId: singleOrderId,
                        groupOrderId: ractive.get('groupOrderId')
                    },
                    method: 'POST',
                    success: function (data) {
                        ractive.set('displayOrderDetail', data['displayOrderDetail']);
                    },
                    error: function() {
                    }
                }

        );
    });

    ractive.on("cancelSingleOrder", function(e) {
        singleOrderId = $(e.node).val();
        alert(singleOrderId);
        $.ajax("{{=URL('default', 'cancelSingleOrder', user_signature=True)}}",
                {
                    data: {
                        singleOrderId: singleOrderId,
                        groupOrderId: ractive.get('groupOrderId')
                    },
                    method: 'POST',
                    success: function (data) {
                        ractive.set('displayOrderDetail', data['displayOrderDetail']);
                    },
                    error: function() {
                    }
                }

        );
    });




});
</script>




