/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}


.sideBarMenuList {



}

.font {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 25px;
}

.headerTitle {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: white;
     text-align: center;
    margin:50px;
}

.headerSubTitle {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: white;
     text-align: center;
    margin:50px;
}

/*.btn {*/
    /*padding: 14px 24px;*/
    /*border: 0 none;*/
    /*font-weight: 700;*/
    /*letter-spacing: 1px;*/
    /*text-transform: uppercase;*/
/*}*/

/*.btn:focus, .btn:active:focus, .btn.active:focus {*/
    /*outline: 0 none;*/
/*}*/

/*.btn-primary {*/
    /*background: #0099cc;*/
    /*color: #ffffff;*/
/*}*/

/*.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {*/
    /*background: #33a6cc;*/
/*}*/

/*.btn-primary:active, .btn-primary.active {*/
    /*background: #007299;*/
    /*box-shadow: none;*/
/*}*/

/*.btn.outline {*/
    /*background: none;*/
    /*padding: 12px 22px;*/
/*}*/


/*.btn-primary.outline {*/
    /*border: 2px solid #0099cc;*/
    /*color: #0099cc;*/
/*}*/


/*.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {*/
    /*color: #33a6cc;*/
    /*border-color: #33a6cc;*/
/*}*/
/*.btn-primary.outline:active, .btn-primary.outline.active {*/
    /*border-color: #007299;*/
    /*color: #007299;*/
    /*box-shadow: none;*/
/*}*/


.my-btn{
        background: none;
    padding: 12px 22px;
    color: white;
        border: 2px solid steelblue;

}

.my-btn:hover {
  border-color: #303030;
  background-color: #0e90d2;
}



.buttonStyle {
    background-color:#29292a;


}



.board {
    width: 200px;
    height: 200px;
    border: 1px solid ;
    border-radius: 25px;
    padding: 20px;
    margin: 15px;
    voerflow: hidden;
    /*background-color: lightblue;*/


}

.myheader {

    width: 100%;
    height:600px;
    background-color: #29292a;
}

.coverImage {
        height: 800px;
        width: 100vm;
        background-size: cover;

}

/*#topContainer {*/
        /*background-image: url("images/LandingPage.jpg");*/
        /*height: 800px;*/
        /*width: 100%;*/
        /*background-size: cover;*/
/*}*/

/*.board {*/
    /*border-radius: 25px;*/
    /*border: 2px solid #8AC007;*/
    /*padding: 20px;*/
    /*margin: 5px;*/
    /*width: 280px;*/
    /*min-height: 350px;*/
    /*overflow: hidden;*/


/*}*/


.titlearea{

    width: 240px;
    height: 50px;


}

.contentarea {

    width: 240px;
    height: 100px;


}


.icon {

    width: 35px;
    height: 35px;
     font-size: 16px;
    float:right;

}



.paragraph{

}

.link{
     font-size: 16px;


}

.title {
 font-weight: bold;
  font-size: 25px;
}

.twobuttons {
    float: right;
}

.headline {
    font-weight: bold;
    font-size: 2em;
    color: #0e90d2;
}


.boardname {
    font-family: Arial;
    font-size: 2em;
    color: #0e90d2;
    font-weight: bold;
}

.posttitle {
    font-weight:bold;
    font-size: 18px;
    color: #0e90d2;

}

.postdescription {
    font-style: italic;
    color: #303030;

}

.count {
    font-size: 3em;
    color: #f76466;
}


.bottompage {
    font-size: 1.5em;
}

.timestamp {
    font-size: 12px;
    position: absolute;
    bottom: 0;
}