/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}


.sideBarMenuList {



}









.board {
    border-radius: 25px;
    border: 2px solid #8AC007;
    padding: 20px;
    margin: 5px;
    width: 280px;
    min-height: 350px;
    overflow: hidden;

}

.titlearea{

    width: 240px;
    height: 50px;


}

.contentarea {

    width: 240px;
    height: 100px;


}


.icon {

    width: 35px;
    height: 35px;
     font-size: 16px;
    float:right;

}



.paragraph{

}

.link{
     font-size: 16px;


}

.title {
 font-weight: bold;
  font-size: 25px;
}

.twobuttons {
    float: right;
}

.headline {
    font-weight: bold;
    font-size: 2em;
    color: #0e90d2;
}


.boardname {
    font-family: Arial;
    font-size: 2em;
    color: #0e90d2;
    font-weight: bold;
}

.posttitle {
    font-weight:bold;
    font-size: 18px;
    color: #0e90d2;

}

.postdescription {
    font-style: italic;
    color: #303030;

}

.count {
    font-size: 3em;
    color: #f76466;
}


.bottompage {
    font-size: 1.5em;
}

.timestamp {
    font-size: 12px;
    position: absolute;
    bottom: 0;
}